.services-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Single column layout by default */
    gap: 20px; /* Default gap */
    margin-top: 30px;
  }
  
  @media (min-width: 768px) {
    .services-list {
      grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
      gap: 30px; /* Adjust gap for medium screens */
    }
  }
  
  @media (min-width: 1024px) {
    .services-list {
      grid-template-columns: repeat(3, 1fr); /* Three columns on large screens */
      gap: 30px; /* Gap for large screens */
      margin-top: 55px; /* Adjust top margin for large screens */
    }
  }
  