@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.header {
    background: linear-gradient(rgba(165, 204, 203, 0.933), #ced2d3, #828f73); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 1rem; 
  }

  .sticky_header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top:0;
    left:0;
    z-index:99999;
    background: white;
    box-shadow:3px 3px -8px 3px #ddd;
  }

  @media only screen and (max-width: 768px) {
    .navigation {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      background: rgba(0, 0, 0, 0.5); /* Updated for better readability */
      display: none;/* Hidden by default */
    }
  
    .menu {
      width: 15rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: url("../../assets/images/bg.png") no-repeat center center; /* Placeholder background image */
      background-size: cover; /* Ensure image covers entire area */
      z-index: 200;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 30px;
    }
  
    .show_menu {
      display: block; 
    }
  }
